<!doctype html>
<html lang="">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<head>
    <title>Scheidt & Bachmann</title>


</head>
<body>
<div id="app"></div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet"
      >
<link rel="stylesheet" href="http://localhost:2992/assets/main.css">
<link rel="stylesheet"
      href="https://cdn.rawgit.com/wadahiro/griddle-react-bootstrap/master/dist/griddle-react-bootstrap.css">


<script src="http://localhost:2992/assets/app.js"></script>
</body>

</html>